.center-blog{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 65px;
  margin: 0px 45px 20px 45px;

}
.blog-cont {
 width: 100%;
 object-fit: contain;
}
.blog-cont img{
  width: 100%;

}

.blog-cont img:nth-of-type(1){
  height: 278px;
  object-fit: cover;
}

.blogs{
  margin-left: auto 0;
  margin-bottom: 35px;
}

.blog-cont {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 19px;
  letter-spacing: 1px;
  position: relative;

}

.blog-cont img{
  transition: transform 0.4s ease;
}

.blog-cont h1{
  text-align: left;
  color: gray;
  font-size: 25px;
}

p{
  color: rgb(164, 162, 162);
}



.blog-cont a{
  text-decoration: none;
  margin-left: 30px;
  transition: margin-left 0.5s ease;
  
}
.blog-cont a::before{
  content: "";
  position: absolute;
  height: 1.5px;
  width: 20px;
  background-color: black;
  bottom:8px;
  left: 2px;
  transition: width 0.5s ease;
}

.blog-cont:hover  a::before{
  width: 50px;
 
}
.blog-cont:hover img{
  transform: scale(1.01);
}
.blog-cont:hover a{
  margin-left: 60px;
 
}

/* Mobile Responsive - Blog */
@media screen and (max-width: 768px) {
    .center-blog {
        grid-template-columns: 1fr;
        gap: 40px;
        margin: 0 20px 20px 20px;
        padding-top: 10px;
    }

    .blog-cont img:nth-of-type(1) {
        height: 220px;
    }

    .blog-cont h1 {
        font-size: 20px;
    }

    .blog-cont p {
        font-size: 13px;
    }

    .blog-cont .desc {
        line-height: 1.5;
    }

    .blog-cont a {
        margin-left: 25px;
        font-size: 14px;
    }

    .blog-cont a::before {
        width: 18px;
    }

    .blog-cont:hover a::before {
        width: 45px;
    }

    .blog-cont:hover a {
        margin-left: 55px;
    }
}

@media screen and (max-width: 480px) {
    .center-blog {
        gap: 30px;
        margin: 0 15px 15px 15px;
    }

    .blog-cont img:nth-of-type(1) {
        height: 200px;
    }

    .blog-cont h1 {
        font-size: 18px;
    }

    .blog-cont p {
        font-size: 12px;
    }
}

.desc {
  color: rgb(79, 78, 78);
}