footer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  padding: 0px 80px;
  justify-content: space-between;
  flex-direction: column !important;
  margin-bottom: 50px;
 
}

.footer-options{
  display: flex;
  gap: 100px;
  line-height: 30px;
  justify-content: space-between;
 
}

.footer-details{
  display: flex;
  gap: 100px;
}


.contact-us p{
  
}
.help-support{

}

.call-us{

}

.shop a{
  text-decoration: none;
}

.learn a{
  text-decoration: none;
}

.help a{
  text-decoration: none;
}

.help p{
  color: #60504d;
  font-size: 12.5px;
}

.learn p{
  color: #60504d;
  font-size: 12.5px;
}

.shop p{
  color: #60504d;
  font-size: 12.5px;
}

.catchphrase{
  color: gray;
}

h5{
  margin-bottom: 20px;
  font-weight: 400;
  color: gray;
}

.footer-logo{
  width: 200px;
}


.footer-logo img{
  width: 100%;
}
.footer-icons img {
  width: 22px;
  height: 22px;
  display: inline-block;
}
.footer-icons div{
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .facebook::after, .pinterest::after, .twitter::after, .instagram::after, .shopee::after, .youtube::after{
  content: "";
  background-color: var(--background-color);
  position: absolute;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  z-index: 0;
  transition: all 0.5s ease;
 
}

footer .facebook:hover::after{
  width: 100%;
  height: 100%;
}
footer .facebook:hover  .white{
  z-index: 6;
}


.pinterest:hover::after{
  width: 100%;
  height: 100%;
}
.pinterest:hover .white{
  z-index: 6;
}



.twitter:hover::after{
  width: 100%;
  height: 100%;
}
.twitter:hover .white{
  z-index: 6;
}

.instagram img{
  height: 26px;
  width: 26px;
}


.instagram:hover::after{
  width: 100%;
  height: 100%;
}
.instagram:hover .white{
  z-index: 6;
}



.shopee:hover::after{
  width: 100%;
  height: 100%;
}
.shopee:hover .white{
  z-index: 6;
}


.youtube img{
  height: 26px;
  width: 26px;
}

.youtube:hover::after{
  width: 100%;
  height: 100%;
}
.youtube:hover .white{
  z-index: 6;
}


.footer-icons div img:nth-last-of-type(2){
  position: absolute;
  transition: z-index 0.5s ease;
}

.footer-icons{
  display: flex;
}


.combined{
 width: 200px;
 
}

.catchphrase{
 text-align: center;
 font-size: 12px;
}

.footer-main-details{
  display: flex;
  justify-content: space-between;
}

.footer-components{
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-components div:nth-child(1){
  color: var(--background-color);
  font-weight: 500;
}

.components-img{
  height: 60px;
  width: 60px;
}

.components-img img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}


.footer-components-cont{
  display: flex;
  gap: 20px;
}


.footer-choices{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer-queries{

}

.footer-queries a div{
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--background-color);
  color: var(--background-color);
  font-weight: 500;
  transition: all 0.3s ease;
}

.footer-queries a div:hover{
  color: white;
  background-color: var(--background-color);
}

/* Mobile Responsive - Footer */
@media screen and (max-width: 768px) {
    footer {
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .footer-choices {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 15px;
    }

    .footer-components-cont {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .footer-components {
        gap: 15px;
    }

    .components-img {
        height: 50px;
        width: 50px;
    }

    .footer-components div:nth-child(1) {
        font-size: 14px;
    }

    .footer-components div:nth-child(2) div {
        font-size: 12px;
    }

    .footer-queries {
        text-align: center;
        width: 100%;
    }

    .footer-queries > div:first-child {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .footer-queries a div {
        font-size: 13px;
        padding: 10px;
    }

    .footer-main-details {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .footer-details {
        flex-direction: column;
        gap: 30px;
        width: 100%;
        align-items: center;
    }

    .combined {
        width: 180px;
        text-align: center;
    }

    .footer-logo {
        width: 180px;
    }

    .catchphrase {
        font-size: 11px;
    }

    .footer-options {
        flex-direction: column;
        gap: 25px;
        width: 100%;
        text-align: center;
    }

    .shop, .learn, .help {
        width: 100%;
    }

    .shop h5, .learn h5, .help h5 {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .shop p, .learn p, .help p {
        font-size: 13px;
        line-height: 28px;
    }

    .footer-icons {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer-icons div {
        width: 45px;
        height: 45px;
    }

    .footer-icons img {
        width: 20px;
        height: 20px;
    }

    .instagram img, .youtube img {
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 480px) {
    footer {
        padding: 0 15px;
        margin-bottom: 20px;
    }

    .footer-components {
        gap: 12px;
    }

    .components-img {
        height: 45px;
        width: 45px;
    }

    .footer-components div:nth-child(1) {
        font-size: 13px;
    }

    .footer-components div:nth-child(2) div {
        font-size: 11px;
    }

    .combined {
        width: 160px;
    }

    .footer-logo {
        width: 160px;
    }

    .catchphrase {
        font-size: 10px;
    }

    .footer-options {
        gap: 20px;
    }

    .shop h5, .learn h5, .help h5 {
        font-size: 15px;
        margin-bottom: 12px;
    }

    .shop p, .learn p, .help p {
        font-size: 12px;
        line-height: 26px;
    }

    .footer-icons div {
        width: 40px;
        height: 40px;
    }
}