/* REPLACE YOUR login-signup-popup.css WITH THIS */

.main-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500; /* Changed from 400 to 500 to be above mobile menu */
    display: none;
}

.form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(253, 245, 245);
    font-size: 20px;
    padding: 30px 30px 40px 30px;
    display: none;
    border-radius: 10px;
    z-index: 501; /* Added to ensure popup is above the overlay */
    max-width: 90%; /* Added for mobile responsiveness */
    max-height: 90vh; /* Added for mobile responsiveness */
    overflow-y: auto; /* Added for mobile responsiveness */
}

h1{
    margin: 20px 0px 30px 0px;
    text-align: center;
}

.log-in-text h1{
    margin-bottom: 20px !important;
    font-weight: 600;
}

.form-container input[type=email], .form-container input[type=password], .form-container input[type=text]{
    padding: 10px;
    width: 350px;
    max-width: 100%; /* Added for mobile responsiveness */
    border: 1px solid rgb(39,153,137);
    color: rgb(39,153,137);
    display: flex;
}

.form-container input[type=email], .form-container input[type=text]{
    margin-bottom: 12px;
}

.forgot-pass, .acc-status, .or-div{
    text-align: center;
    font-size: 0.6em;
    margin: 10px 0px 10px 0px;
    position: relative;
}

.log-in-text h1{
    font-size: 20px;
    margin-bottom: 10px;
}

.log-in-btn button, .facebook-button, .gmail-button{
    background-color: rgb(39,153,137);
    width: 100%;
    padding: 10px 0px 10px 0px;
    border: 1px solid transparent;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.log-in-btn button{
    margin-top: 10px;
}

.facebook-button{
    background-color: rgb(0,117,198);
    margin-bottom: 10px;
}

.gmail-button{
    background-color: white;
    color: green;
    border: 1px solid green;
}

.or-div{
    font-weight: bold;
    margin: 20px 0px 0px 0px;
}

.or-div::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 40%;
    background-color: rgb(39,153,137);
    top: 6px;
    left: 1px;
}

.or-div::before{
    position: absolute;
    content: '';
    height: 1px;
    width: 40%;
    background-color: rgb(39,153,137);
    top: 6px;
    right: 1px;
}

.no-scroll{
    overflow: hidden;
}

.close-popup-cont{
    display: flex;
    width: 100%;
    justify-content: end;
}   

.close-popup{
    cursor: pointer;
}

span{
    color: rgb(39,153,137);
    text-decoration: underline;
    cursor: pointer;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
    .form-popup {
        width: 90%;
        padding: 20px;
        font-size: 18px;
    }
    
    .form-container input[type=email], 
    .form-container input[type=password], 
    .form-container input[type=text] {
        width: 100%;
        font-size: 16px; /* Prevent zoom on iOS */
    }
    
    h1 {
        font-size: 18px;
        margin: 15px 0px 20px 0px;
    }
    
    .log-in-text h1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .form-popup {
        width: 95%;
        padding: 15px;
        font-size: 16px;
    }
    
    .or-div::after,
    .or-div::before {
        width: 35%;
    }
}