
:root {
  --swiper-navigation-size: 10px !important;
}


.product-list-items{

}


  .products-cont{
    display: flex !important;
    justify-content: center;
    width: 70%;
    margin-top: 40px;
  }

  .wrapper{
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0px 60px 30px 60px;
  }

  .prod-img-cont{
    display: flex;
    height: 200px;
    position: relative;
    justify-content: center;
    align-items: center;

  }



.prod-img-cont .hovered-image{
  opacity: 0;
  position: absolute;
  width: 75%;
  height: 100%;
  object-fit:cover;

}

.prod-img-cont > img{
  width: 100%;
  height: 100%;
  object-fit:contain ;
  
}

.product-items{
  border: 1px solid var(--background-color);
  cursor: pointer;
}

.product-items:hover .hovered-image{
  opacity: 1;
  transition: all .5s ease;
}


.product-status{
  font-size: 11px;
  position: absolute;
  color: white;
  background-color: red;
  padding: 3px 10px 3px 10px;
  top: 0px;
  left: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.swiper-button-prev, .swiper-button-next{
  width: 40px !important;
  height: 40px !important;
  border-radius: 150px;
  border: 1px solid var(--background-color);
  top: 43% !important;
}


.swiper-button-prev::after{
  color: var(--background-color);
  background-position: center !important;
  position: absolute !important;
  left: 15px !important;
}

.swiper-button-next::after{
  color: var(--background-color);
  background-position: center !important;
  position: absolute !important;
  left: 18px !important;
}


@media screen and (max-width: 900px) {
  .carousel .product-items{
    width: calc(100%/2);
  }
  .wrapper{
    width: calc(100%);
  }

  .prod-img-cont {
    height: 150px;
  }

  .products-cont{
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .carousel .product-items{
    width: 100%;
  }
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Space between carousel and dots */
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: rgb(39,153,137); /* Inactive dot color */
    cursor: pointer;
    transition: background-color 0.3s;

}

.dot.active {
    background-color: black; /* Active dot color */
}

.button-bg-color{
  background-color: var(--background-color) !important;
  color: white !important; 
}